ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgb(202, 196, 196);

  }
  .li:first-child{
    width: 60%;
  }
  
  .li {
    float: left;
    width: 13%;
  }
  
  .li a {
    display: block;
    color: #666;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .li a.active {
    color: white;
    background-color: #04AA6D;
  }