.service{
    margin-top: 10%;
}
.serviceDiv{
    margin-top: 5%;
    display: flex;
    align-items: center;
    
}
/* .serviceCard{
    margin: 2%;
} */
.serviceImg{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
}
h3{
    text-align: center;
}
.serviceCard button{
    margin-left: 25%;
}

.serviceCard p{
    margin: 4%;
    text-align: left;
}

